[include steppers/y.cfg]


[extruder]
step_pin: hermie: PA6
dir_pin: hermie: PA7
enable_pin: !hermie: PA5
microsteps: 16
rotation_distance: 7.550
nozzle_diameter: 1
filament_diameter: 1.750
heater_pin: hermie: PA2
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: hermie: PA1 

control: pid
pid_Kp: 33.060
pid_Ki: 3.148
pid_Kd: 86.784
# min_extrude_temp: 5
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: hermie: PB0
run_current: 0.650
# hold_current: 0.500
stealthchop_threshold: 999999
# 75.79
# 50mm
# 27.87

[fan]
pin: hermie: PA4

[heater_fan hotend_fan]
pin: hermie: PA3
heater: extruder
heater_temp: 50.0
fan_speed: 0.5

[bltouch]
sensor_pin: ^hermie:PB2
control_pin: hermie:PB1
x_offset: -51.8
y_offset: -13.2
# z_offset: 3.144
z_offset: 3.119
speed: 5.0
lift_speed: 10
samples: 1
sample_retract_dist: 3.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 0
stow_on_each_sample: false

[bed_mesh]
speed: 100
horizontal_move_z: 8
mesh_min: 0,0
mesh_max: 360, 360
probe_count: 5, 5
# probe_count: 3 ,3
#fade_start: 1
#fade_end: 10

# Bed Mesh Calibrate
[gcode_macro G29]
gcode: 
    BED_MESH_CALIBRATE
    SAVE_CONFIG 

[filament_switch_sensor runout_sensor]
switch_pin: !hermie:PA10
pause_on_runout: False # This needs to be false to use runout_gcode
runout_gcode:
    _filament_runout
insert_gcode:
    _filament_insert

#[filament_motion_sensor motion_sensor]
#switch_pin: ^hermie:PA9


[homing_override]
gcode: 
    tmc_home_x
    tmc_home_y
    G28 Z
    # Move up to not whack bed, and then to xy 0
    G0 Z6
    G0 X0 Y0


[gcode_macro START_PRINT]
gcode: 
    M104 S200
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=5 ACCEL=1000
    G28
    M109 S200
    G1 Z5 F3000 ; lift
    G1 X10 Y10 F1500 ; move to prime
    G1 Z0.2 F3000 ; get ready to prime
    G92 E0 ; reset extrusion distance
    G1 X80 E10 F600 ; prime nozzle
    G1 X100 F5000 ; quick wipe

[gcode_macro _filament_runout]
gcode:
    SET_IDLE_TIMEOUT TIMEOUT=10800 # Set idle_timeout to 3hrs
    #M104 S0 # turn off the hotend
    #SAVE_GCODE_STATE is not required as PAUSE does this automatically
    # See here: https://www.klipper3d.org/G-Codes.html#pause
    BASE_PAUSE
    G91 # Relative positioning
    G1 E-10 F2100 # Retract 10mm of filament
    G1 Z10 # Move Z up 10mm from current position
    G90 # Absolute positioning
    G1 X350 Y350 F6000 # Park at the coordinates you said you wanted
    M106 S0 # Disable the part cooling fan
    UPDATE_DELAYED_GCODE ID=runout_wait DURATION=60

[delayed_gcode runout_wait]
gcode:
    # Honestly you probably shouldn't keep the hotend heated for 5 minutes as it's
    # definitely going to leak a bunch of filament during that time, but anyway
    M104 S0 # turn off the hotend

[gcode_macro _filament_insert]
gcode:
    # Get the extruder min_extrude_temp (will be 150 if not defined)
    {% set TARGET = printer.configfile.config.extruder.min_extrude_temp|float %}
    # Get the current extruder temp
    {% set TEMP = printer.extruder.temperature|float %}
    {% if TEMP < TARGET %}
        RESPOND TYPE=error MSG="Please heat the extruder before continuing."
    {% else %}
        RESPOND TYPE=error MSG="Press RESUME to continue."
    {% endif %}
    SET_IDLE_TIMEOUT TIMEOUT=900 # Set idle_timeout to 15 minutes


# Use this macro to heat the extruder and then resume like so:
# 
# HEAT_AND_RESUME TARGET=220
# 
[gcode_macro HEAT_AND_RESUME]
description: Heat the extruder and resume print when target is reached
gcode:
    # Get the extruder min_extrude_temp (will be 150 if not defined)
    {% set min_target = printer.configfile.config.extruder.min_extrude_temp|float %}
    # Get the target from params or set it to min_target if none is given
    {% set TARGET = params.TARGET|default(min_target)|float %}
    # Heat the extruder and wait for the target to be reached
    M109 S{TARGET}
    # Notify that print is resuming
    RESPOND TYPE=error MSG="Temperature reached. Resuming print."
    # Resume print when target is reached
    # This will automatically restore to the pre-PAUSE position
    # See here: https://www.klipper3d.org/G-Codes.html#resume
    RESUME