[include fluidd.cfg]
# The virtual_sdcard object MUST be BELOW the fluidd.cfg 
# include in order to override it!!
[virtual_sdcard]
path: /home/puck/rho_data/gcodes
on_error_gcode: CANCEL_PRINT

[include macros/*.cfg]
[include mcus.cfg]
[include steppers.cfg]
[include thermals.cfg]

[printer]
kinematics: delta
max_velocity: 200
max_accel: 1500
max_z_velocity: 200
# square_corner_velocity: 5
#delta_radius: 140.685404
minimum_z_position= -5

[gcode_arcs]

[delta_calibrate]
radius: 100
horizontal_move_z: 10

[adxl345]
cs_pin: ebb: PB12
spi_software_sclk_pin: ebb: PB10
spi_software_mosi_pin: ebb: PB11
spi_software_miso_pin: ebb: PB2
axes_map: -y, -z, x

[resonance_tester]
accel_chip: adxl345
# x = r cos theta
# y = r sin theta
probe_points:
    100, 0, 20  # an example
    -50, 86.60, 20
    -50, -86.60, 20

[input_shaper]
shaper_freq_x: 23.6
shaper_type_x: mzv
shaper_freq_y: 29.0
shaper_type_y: ei

[probe]
pin: !ebb: PB9
speed: 5
z_offset: 0.070
lift_speed: 15 #The speed the probe raises before traveling or probing again. 
samples: 3
sample_retract_dist: 5
samples_result: median
samples_tolerance: 0.100
samples_tolerance_retries: 5
activate_gcode: 
  M204 S50
  G4 P1000
deactivate_gcode:
  M204 S5500

[bed_mesh]
speed: 100
horizontal_move_z: 10
mesh_radius: 100
mesh_origin: 0,0
round_probe_count: 5
mesh_pps: 5,5  
algorithm: bicubic
bicubic_tension: 0.1
move_check_distance: 3
split_delta_z: 0.025
fade_start: 1
fade_end: 30

# Bed Mesh Calibrate
[gcode_macro G29]
gcode: 
    BED_MESH_CALIBRATE
    SAVE_CONFIG

[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default

[delayed_gcode set_z_offset]
initial_duration: 1
gcode:
  # SET_GCODE_OFFSET z=-1.89
  SET_GCODE_OFFSET z=-2.68





[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : -138.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 15.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 1.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 30.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 30.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "G28"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_a]
#*# angle = 210.067443
#*# arm_length = 280.000000
#*# position_endstop = 332.806690
#*#
#*# [stepper_b]
#*# angle = 329.893318
#*# arm_length = 280.000000
#*# position_endstop = 331.837408
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 280.000000
#*# position_endstop = 334.264012
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.082385, -0.082385, -0.082385, -0.082385, -0.082385
#*# 	  -0.024335, -0.024335, -0.026142, -0.001529, -0.001529
#*# 	  -0.012544, 0.002470, 0.056035, 0.052529, -0.083635
#*# 	  -0.026815, -0.026815, 0.053056, 0.012323, 0.012323
#*# 	  -0.072740, -0.072740, -0.072740, -0.072740, -0.072740
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = -100.0
#*# max_x = 100.0
#*# min_y = -100.0
#*# max_y = 100.01
#*#
#*# [printer]
#*# delta_radius = 140.610803
#*#
#*# [delta_calibrate]
#*# height0 = 0.07
#*# height0_pos = 33302.000,33120.000,33447.000
#*# height1 = 0.07
#*# height1_pos = 38034.000,37979.000,30088.000
#*# height2 = 0.07
#*# height2_pos = 32288.000,40939.000,32510.000
#*# height3 = 0.07
#*# height3_pos = 30127.000,37167.000,37510.000
#*# height4 = 0.07
#*# height4_pos = 32352.000,32098.000,38858.000
#*# height5 = 0.07
#*# height5_pos = 36791.000,30212.000,36858.000
#*# height6 = 0.07
#*# height6_pos = 39862.000,32155.000,32469.000
