[include thermals.cfg]
[include towers.cfg]
[include macros/*.cfg]

[include fluidd.cfg]
# The virtual_sdcard object MUST be BELOW the fluidd.cfg 
# include in order to override it!!
[virtual_sdcard]
path: /home/puck/tau_data/gcodes
on_error_gcode: CANCEL_PRINT

[include tools/micro_micro.cfg]

# "Main" MCU
# This is the story of a board
[mcu]
canbus_uuid: bf3b7a633966
canbus_interface: cantau

[gcode_arcs]

[delta_calibrate]
radius: 100 #alternate option tehcnically more correct square in circle =195.086. /2 =97.543
horizontal_move_z: 5

[resonance_tester]
accel_chip: adxl345
probe_points:
    0, 0, 20  # an example

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_radius: 100
mesh_origin: 0,0
round_probe_count: 5 #9 for extreme conditions most likely over kill 9/10. first layer height should be min 0.3 for volcanos or above max "deviation" 
mesh_pps: 5,5  
algorithm: bicubic
bicubic_tension: 0.1
move_check_distance: 3
split_delta_z: 0.025
fade_start: 1
fade_end: 30

# Bed Mesh Calibrate
[gcode_macro G29]
gcode: 
    BED_MESH_CALIBRATE
    SAVE_CONFIG

[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default




[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : -140.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 15.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 1.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 30.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 30.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "G28"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_a]
#*# angle = 210.017705
#*# arm_length = 315.000000
#*# position_endstop = 322.762268
#*#
#*# [stepper_b]
#*# angle = 330.202602
#*# arm_length = 315.000000
#*# position_endstop = 321.992116
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 315.000000
#*# position_endstop = 322.267930
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.004541, -0.004541, -0.004541, -0.004541, -0.004541
#*# 	  0.009943, 0.009943, -0.000986, -0.013965, -0.013965
#*# 	  0.001059, -0.005833, 0.007958, 0.010923, 0.036842
#*# 	  0.017391, 0.017391, 0.001728, -0.010732, -0.010732
#*# 	  -0.004094, -0.004094, -0.004094, -0.004094, -0.004094
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = -100.0
#*# max_x = 100.0
#*# min_y = -100.0
#*# max_y = 100.0
#*#
#*# [delta_calibrate]
#*# height0 = -0.125
#*# height0_pos = 206653.000,206142.000,206338.000
#*# height1 = -0.125
#*# height1_pos = 236245.000,235666.000,184692.000
#*# height2 = -0.125
#*# height2_pos = 200303.000,253495.000,200001.000
#*# height3 = -0.125
#*# height3_pos = 186296.000,231286.000,231410.000
#*# height4 = -0.125
#*# height4_pos = 200152.000,199681.000,239783.000
#*# height5 = -0.125
#*# height5_pos = 227592.000,187288.000,227266.000
#*# height6 = -0.125
#*# height6_pos = 246709.000,199534.000,199787.000
